<h3><%= @student.format_name %></h3>
<ul>
  <li>Age: <%= @student.age %></li>
  <li>House: <%= @student.house.name.capitalize %> </li>
  <a href="/students/<%= @student.id %>/edit"><input type="submit" value="Edit Student"></a>
  <form action="/students/<%= @student.id %>/delete" method="post">
    <input type="submit" value="Delete Student">
  </form>

</ul>
